# Turn on URL rewriting
RewriteEngine On

RewriteCond %{HTTP_HOST} ^matrix42\.(com|de|eu)$ [NC]
RewriteRule ^(.*)$ http://www.matrix42\.(com|de|eu)/$1 [R=301,L]

# Installation directory
RewriteBase /

# Former DE landing page redirects
RewriteRule ^bmc/intro / [R=301,L]
RewriteRule ^downloads / [R=301,L]
RewriteRule ^produkte /workplace_management [R=301,L]
RewriteRule ^produkte-loesungen/initiatives/mobile-device-management/ueberblick /losungen/mobile_device_management [R=301,L]
RewriteRule ^produkte-loesungen/initiatives/virtualization-management/ueberblick /losungen/virtual_desktop_management [R=301,L]
RewriteRule ^desktopvirtualisierung /losungen/virtual_desktop_management [R=301,L]
RewriteRule ^desktop-virtualisierung /losungen/virtual_desktop_management [R=301,L]
RewriteRule ^produkte/workplaces /workplace_management [R=301,L]
RewriteRule ^windows7 /losungen/windows_7_migration [R=301,L]
RewriteRule ^produkte-loesungen/initiatives/windows-7-migration/ueberblick /losungen/windows_7_migration [R=301,L]
RewriteRule ^produkte-loesungen/it-asset-management /losungen/compliance [R=301,L]
RewriteRule ^produkte-loesungen/it-service-management /losungen/self_service [R=301,L]
RewriteRule ^produkte-loesungen/client-management /losungen/endpoint_management [R=301,L]
RewriteRule ^paketierung /addons/package_robot [R=301,L]
RewriteRule ^lizenzmanagement /losungen/compliance [R=301,L]
RewriteRule ^kontakt /uber [R=301,L]
RewriteRule ^events/webinar /events/webinars [R=301,L]
RewriteRule ^events/partnerevents /events/partners [R=301,L]
RewriteRule ^schulungen /events/schulungen [R=301,L]

# Former landing pages that redirect to legacy pages
RewriteRule ^roadshow http://le.matrix42.de/user-group [R=301,L]
RewriteRule ^roadshow2012 http://le.matrix42.de/user-group [R=301,L]
RewriteRule ^user-group http://le.matrix42.de/user-group [R=301,L]
RewriteRule ^forum http://le.matrix42.de/forum [R=301,L]

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Protect application and system files from being viewed
RewriteRule ^(?:application|modules|system)\b.* index.php/$0 [L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT]
