#home-banner {
	margin-bottom: 0;
	.item {
		.item-container {
			.rel;
			.bg,
			bg2 {
				display: inline-block;
			}
			.bg {
				z-index: 0;
			}
			.bg2 {
				z-index: 0;
			}
			.tag-content {
				.abs;
				z-index: 2;
				h1, h4 {
					font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
					font-weight: bold;
				}
			}
		}
		&#banner8 {
			.tag-content {
				.rounded_corners();
				padding: 20px;
				background: transparent url(@{img_path}transparent-bg-dark.png) repeat 0 0;
				h1, h3 {
					color: #ffffff;
				}
			}
		}
	}
	.carousel-control {
		.abs;
		z-index: 100;
		line-height: 40px;
	}
}

#home-middle {
	background-color: #eeeeee;
	.middle-container {
		width: 300px;
		margin: 30px 40px 0 60px;
		.align-left;
		p {
			font-size: 12px;
		}
	}
}

#our-customers {
	p {
		margin-bottom: 0;
	}
	.logo-container {
		.rel;
		height: 80px;
		img {
			.abs;
		}
		.customer-one {
			top: 10px;
			left: 5px;
		}
		.customer-two {
			top: 5px;
			left: 35%;
		}
		.customer-three {
			top: 45px;
			left: 35%;
		}
		.customer-four {
			top: 10px;
			right: 5px;
		}
	}
}
#making-waves {
	p {
		margin-bottom: 0;
	}
	.logo-container {
		.rel;
		height: 90px;
		img {
			.abs;
		}
		.partner-one {
			top: 25px;
			left: 5px;
		}
		.partner-two {
			top: 0;
			left: 37%;
		}
		.partner-three {
			top: 45px;
			left: 37%;
		}
		.partner-four {
			top: 30px;
			right: 10px;
		}
	}
}

/*responsive*/
@media (max-width: 480px) {
/* Need to adjust the size of the headers in banners */
	#home-banner {
		h1 {
			font-size: 16px;
			line-height: 15px;
			letter-spacing: -1px;
		}
		h2 {
			font-size: 13px;
			line-height: 12px;
			text-transform: uppercase;
			letter-spacing: -1px;
		}
		h3 {
			.left;
			font-size: 11px;
			line-height: 11px;
			letter-spacing: -1px;
		}
		h4 {
			font-size: 9px;
			line-height: 8px;
			text-transform: uppercase;
			letter-spacing: -1px;
		}
		.item {
			&#banner1 {
				.tag-content {
					top: 5px;
					left: 165px;
					width: 150px;
					h1 {
						color: #000000;
					}
				}
			}
			&#banner2 {
				.tag-content {
					.center;
					top: 10px;
					left: 20px;
					width: 125px;
					h1, h2, h3, h4 {
						.center;
						color: #ffffff;
					}
				}
			}
			&#banner3 {
				.tag-content {
					top: 7px;
					left: 40px;
					width: 150px;
					h1, h3 {
						color: #000000;
					}
				}
			}
			&#banner4, &#banner5 {
				.tag-content {
					top: 7px;
					left: 65px;
					width: 125px;
					h1, h3 {
						color: #ffffff;
					}
				}
			}
			&#banner6 {
				.tag-content {
					top: 8px;
					left: 65px;
					width: 125px;
					h1, h3 {
						color: #ffffff;
					}
				}
			}
			&#banner8 {
				.tag-content {
					top: 7px;
					left: 65px;
					width: 100px;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	#mdm-image {
		.hidden;
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	#home-banner {
		h1 {
			font-size: 24px;
			line-height: 22px;
			letter-spacing: -2px;
		}
		h2 {
			font-size: 18px;
			line-height: 16px;
			text-transform: uppercase;
			letter-spacing: -1px;
		}
		h3 {
			.left;
			font-size: 15px;
			line-height: 14px;
			letter-spacing: -1px;
		}
		h4 {
			font-size: 12px;
			line-height: 11px;
			text-transform: uppercase;
			letter-spacing: -1px;
		}
		.item {
			&#banner1 {
				.tag-content {
					top: 5px;
					left: 200px;
					width: 200px;
					h1 {
						color: #000000;
					}
				}
			}
			&#banner2 {
				.tag-content {
					.center;
					top: 10px;
					left: 20px;
					width: 17px;
					h1, h2, h3, h4 {
						.center;
						color: #ffffff;
					}
				}
			}
			&#banner3 {
				.tag-content {
					top: 7px;
					left: 65px;
					width: 220px;
					h1, h3 {
						color: #000000;
					}
				}
			}
			&#banner4, &#banner5 {
				.tag-content {
					top: 7px;
					left: 65px;
					width: 200px;
					h1, h3 {
						color: #ffffff;
					}
				}
			}
			&#banner6 {
				.tag-content {
					top: 8px;
					left: 65px;
					width: 200px;
					h1, h3 {
						color: #ffffff;
					}
				}
			}
			&#banner8 {
				.tag-content {
					top: 7px;
					left: 65px;
					width: 250px;
				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	#home-banner {
		h1 {
			font-size: 50px;
			line-height: 48px;
			letter-spacing: -4px;
		}
		h2 {
			font-size: 24px;
			text-transform: uppercase;
			letter-spacing: -1px;
		}
		h3 {
			.left;
			font-size: 18px;
			letter-spacing: -1px;
		}
		h4 {
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: -1px;
		}
		.item {
			&#banner1 {
				.tag-content {
					top: 40px;
					left: 400px;
					width: 510px;
					h1 {
						color: #000000;
					}
				}
			}
			&#banner2 {
				.tag-content {
					.center;
					top: 10px;
					left: 60px;
					width: 250px;
					h1, h2, h3, h4 {
						.center;
						color: #ffffff;
					}
				}
			}
			&#banner3 {
				.tag-content {
					top: 25px;
					left: 65px;
					width: 500px;
					h1, h3 {
						color: #000000;
					}
				}
			}
			&#banner4, &#banner5 {
				.tag-content {
					top: 25px;
					left: 65px;
					width: 500px;
					h1, h3 {
						color: #ffffff;
					}
				}
			}
			&#banner6 {
				.tag-content {
					top: 30px;
					left: 65px;
					width: 500px;
					h1, h3 {
						color: #ffffff;
					}
				}
			}
			&#banner8 {
				.tag-content {
					top: 25px;
					left: 65px;
					width: 500px;
				}
			}
		}
	}
}
@media (min-width: 980px) {
	#home-banner {
		h1 {
			font-size: 84px;
			line-height: 89px;
			letter-spacing: -5px;
		}
		h2 {
			font-size: 24px;
			text-transform: uppercase;
			letter-spacing: -1px;
		}
		h3 {
			.left;
			font-size: 18px;
			letter-spacing: -1px;
		}
		h4 {
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: -1px;
		}
		.item {
			&#banner1 {
				.tag-content {
					top: 70px;
					left: 650px;
					width: 500px;
					h1 {
						margin-bottom: 20px;
						line-height: 60px;
						color: #000000;
					}
				}
			}
			&#banner2 {
				.tag-content {
					.center;
					top: 130px;
					left: 400px;
					width: 450px;
					h1, h2, h3, h4 {
						.center;
						color: #ffffff;
					}
				}
			}
			&#banner3 {
				.tag-content {
					top: 80px;
					left: 80px;
					width: 600px;
					h1, h3 {
						color: #000000;
					}
					h1 {
						font-size: 80px;
						line-height: 70px;
					}
				}
			}
			&#banner4, &#banner5 {
				.tag-content {
					top: 80px;
					left: 80px;
					width: 650px;
					h1, h3 {
						color: #ffffff;
					}
					h1 {
						font-size: 80px;
						line-height: 70px;
					}
				}
			}
			&#banner6 {
				.tag-content {
					top: 100px;
					left: 120px;
					width: 650px;
					h1, h3 {
						color: #ffffff;
					}
					h1 {
						font-size: 48px;
						line-height: 48px;
					}
				}
			}
			&#banner8 {
				.tag-content {
					.rounded_corners();
					padding: 20px;
					background: transparent url(@{img_path}transparent-bg-dark.png) repeat 0 0;
					top: 80px;
					left: 80px;
					width: 560px;
					h1, h3 {
						color: #ffffff;
					}
					h1 {
						font-size: 60px;
						line-height: 60px;
					}
				}
			}
		}
	}
}
