h1 {
	font-size: 24px;
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	.emphasis,
	&.emphasis {
		color: @matrix42_orange;
	}
}

.mitsume {
	.left;
	width: @site_width / 3 - @padding;
	padding-left: @padding;
}

#main-container {
	.shadowbox(0.5, 60px);
	background-color: #ffffff;
	#main-row {
		margin-top: @nav_height;
	}
}

#main-nav {
	height: @nav_height;
	background-color: @nav_color;
	#logo {
		a {
			.padded;
		}
	}
	#logo,
	#twitname {
		a {
			height: @nav_height - 25;
			padding-top: 25px;
			.block;
			color: #aaaaaa;
			font-weight: bold;
			font-size: 10px;
		}
	}
	#nav {
		.right;
		li.dropdown:hover ul.dropdown-menu {
			.block;
		}
		a.menu:after, .dropdown-toggle:after {
			content: none;
		}
	}
	div.active {
		background: transparent url(@{img_path}nav-active.png) no-repeat bottom center;
	}
}

#titlebar {
	height: 50px;
	margin-top: 0;
	background-color: #eeeeee;
	h1 {
	    padding-top: 5px;
		.padded;
	}
}